<p>Formulario SignUp</p>

<div class="form-box">
    <form class="form" [formGroup]="myForm">
        <span class="title">Sign up</span>
        <span class="subtitle">Create a free account with your email.</span>
        <div class="form-container">
          <input type="text" class="input" placeholder="Full Name" 

          formControlName="fullName"
          >
          <span *ngIf=" fullName?.touched && fullName?.hasError('required')">Este campo es obligatorio</span>
          <input type="email" class="input" placeholder="Email"
          
          formControlName="email"
          >
          <span *ngIf=" email?.touched && email?.hasError('required')">Este campo es obligatorio</span>

          <input type="password" class="input" placeholder="Password"
          
          formControlName="password"
          >
        </div>
        <button [disabled]="myForm.invalid">Sign up</button>
    </form>
    <div class="form-section">
      <p>Have an account? <a href="">Log in</a> </p>
    </div>
    </div>
