<!-- clase 1 y principio de la 2 -->

<!-- 
<app-clicker [pepe] = 'valorInicial'  (clickEmitter)="clickerWasCliked()"></app-clicker>
<app-clicker [pepe] = '5'></app-clicker>

<h1>Cantidad de paises: {{paises.length}}</h1>
<app-listado [paises]='paises' (borrarPais)="deleteCountry($event)"></app-listado> -->


<!-- clase 2 -->

<!-- Toolbar -->

<div class="toolbar" role="banner">
    <a routerLink="/">Home</a>
    <a routerLink="/profile/">Profile</a>
    <a routerLink="/checkout/">Checkout</a>
</div>

<div class="content" role="main">
    <!-- <app-profile-page></app-profile-page> -->

    <router-outlet></router-outlet>

</div>

