
<h1>Forms SignIn</h1>
<div class="card">
    <h4 class="title">Log In!</h4>
    <form #myForm="ngForm">

      <div class="field">
        
        <input 
            autocomplete="off" id="username" 
            placeholder="Username" class="input-field" 
            name="username" type="text"

            [(ngModel)]="username"
        >
      </div>

      <div class="field">
        
        <input 
            autocomplete="off" id="logemail" 
            placeholder="Email" class="input-field" 
            name="email" type="email"

            ngModel required email
            #emailInput="ngModel"
        >
      </div>
      <span class="error" *ngIf="emailInput.errors?.['required']
        && emailInput.touched">Este campo es obligatorio </span>

      <span class="error" *ngIf="emailInput.errors?.['email'] 
        && emailInput.dirty">El texto ingresado no coincide con un mail </span>

      <div class="field">
        <input 
        autocomplete="off" id="logpass"
        placeholder="Password" class="input-field" 
        name="password" type="password"

        ngModel required 
        minlength="3" maxlength="10"
        > 

      </div>
      <span class="error" *ngIf="emailInput.errors?.['required'] 
           && emailInput.dirty">Este campo es obligatorio </span>

      <button class="btn" type="submit" (click)="submit(myForm)" [disabled]="myForm.invalid"
      >Login</button>
      <!-- [disabled]="myForm.status ===  'INVALID'" -->


      <a href="#" class="btn-link">Forgot your password?</a>
    </form>
  </div>
