div{
    background-color: rgb(218, 86, 10);
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}